{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div class="container">
    <img src="{% static '/images/amb1.jpg' %}" class="rounded" style="margin-left: 42%;" alt="Ambulance" width="180" height="180">
    <h2 style="text-align: center;"><b>EMERGENCY</b></h2><br>
    <table class="table table-dark table-striped">
    <tbody>
        <thead>
            <tr>
                <th>S.No</th>
                <th>Patient Name</th>
                <th>Gender</th>
                <th>Phone No</th>
                <th>Address</th>
                <th>City</th>
            </tr>
        </thead>
    {% for pat in patients %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{pat.name}}</td>
        <td>{{pat.gender}}</td>
        <td>{{pat.phone_no}}</td>
        <td>{{pat.address}}</td>
        <td>{{pat.city}}</td>  
    </tr>
    {% endfor %}
    </tbody>
</table>
    <br>
    <button type="button" class="btn btn-dark" style="margin-left: 43.5%;"><b>Send Ambulance</b></button>
</div>
