{% extends 'main.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="{% static '/css/faq.css' %}">
<script src="{% static '/js/faq.js' %}" ></script>
<br>
<center><h2 id="header">Frequently Asked Questions</h2></center>
<br>
<div class="faqs-container" itemscope itemtype="https://schema.org/FAQPage" >
    {% for faq in faqs %}
    <div class="faq-singular" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
        <h2 class="faq-question"  itemprop="name"> {{faq.question}} </h2>
        <div class="faq-answer" itemscope  itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
            <div itemprop="text">
                {{faq.answer}}
                {% if User != 'Patient' %}
                <button type="button" class="btn btn-outline-dark btn-sm" style="float:right;margin-top:1%;">
                    <a href="{% url 'update_faq' person.id faq.id %}" class="text-warning" ><b>Update Faq</b></a>
                </button>
                <button type="button" class="btn btn-outline-dark btn-sm" style="float:right;margin-right: 1%;margin-top:1%;">
                   <b>Delete Faq</b>
                </button>
                <div>
                    <p>Are you sure you want to delete this FAQ?</p>
                    <p>{{faq.question}}</p>
                    <form action='' method='POST'>
                        {% csrf_token %}
                        <button>Cancel</button>
                        <input type="submit" value='Yes'>
                        <div style="display: none;" >
                            <label for='id'>Id</label>
                            <input type="text" name="id" value={{faq.id}}>
                        </div>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>   
<br>
{% if User == 'VC' %}
    <div style="text-align: center;"><button type="button" class="btn btn-dark">
        <a href="{% url 'add_faq' person.id %}" class="text-info" ><b>Add Faq</b></a>
    </button></div>
{% endif %}

{% endblock %}
