{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/css/navbar.css' %}">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#" >C-19Vaccine</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      {% if block == 'Patient' %}
       
      <li class="nav-item {% if nbar == 'home' %}active{% endif %}">
        <a class="nav-link" href="{% url 'home' person.id %}">Home </a>
      </li>
      <li class="nav-item {% if nbar == 'health' %}active{% endif %}">
        <a class="nav-link" href="{% url 'health' person.id %}">Health Report of an Individual </a>
      </li>
      <li class="nav-item {% if nbar == 'stats' %}active{% endif %}">
        <a class="nav-link" href="{% url 'stats' person.id %}">Statistics of Vaccinated People </a>
      </li> 

      {% else %}

      <li class="nav-item {% if nbar == 'dashboard' %}active{% endif %}">
        <a class="nav-link" href="{% url 'dashboard' person.id %}"> Home </a>
      </li>
      <li class="nav-item {% if nbar == 'report' %}active{% endif %}">
        <a class="nav-link" href="{% url 'report' person.id %}"> Vaccination Report of a Centre </a>
      </li>
      <li class="nav-item {% if nbar == 'statsVC' %}active{% endif %}">
        <a class="nav-link" href="{% url 'statsVC' person.id %}">Statistics of Vaccinated People </a>
      </li> 

      {% endif %}

    </ul>
  </div>
</nav>