{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C19 Vaccine</title>
    
    <link rel="stylesheet" type="text/css" href="{% static '/css/nearby.css' %}">
    <script src="{% static '/js/nearby.js' %}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
<h1 style="text-align: center;">Nearby Vaccination Centres</h1>
<div style="width:35%;height:690px;margin-left:20px;float:left;background-color: black;">
    
</div>
<div id="googleMap" style="width:60%;height:690px;float:right;"></div>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDRY_Rg4W_hjC8S-HcEFrHJuoOhneSm3oc&callback=myMap"></script>

</body>

</html>