{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C-19 Vaccine</title>
</head>
<body>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="https://kit.fontawesome.com/f8b62a635e.js" crossorigin="anonymous"></script>

  
  
  <div class="container" style="margin-top:3%;width:30%;font-family:sans-serif;">
    <div class="row">
      <div class="col-4 mx-auto text-center">
        <img src="{% static '/images/pat.png' %}" class="rounded-circle" alt="Corona1" width="150" height="150">
      </div>
    </div>
    
    <div class="row">
      <div class="main">
      <br>
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
          <a href="#" style="background-color:black;" class="btn btn-lg btn-primary btn-block"><i style="color:white;font-size:36px" class='fas fa-hospital-user'></i><br>Patient</a>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
          <a href="{% url 'loginvc' %}" style="background-color:#696969;" class="btn btn-lg btn-primary btn-block"><i style="color:white;font-size:36px" class='fas fa-hospital-alt'></i><br>Vaccination Centres</a>
        </div>
      </div>
      <div class="login-or">
        <hr class="hr-or">
      </div>

      <form role="form" method='POST' action=''>
        {% csrf_token %}
        <div class="form-group">
          <label for="inputUsernameEmail">Username</label>
          <input type="text" name='username' class="form-control" id="inputUsernameEmail">
        </div>
        <div class="form-group">
          <a class="pull-right" href="#">Forgot password?</a>
          <label for="inputPassword">Password</label>
          <input type="password" name='password' class="form-control" id="inputPassword">
        </div>
        <div class="checkbox pull-right">
          <label><input type="checkbox">Remember me </label>
        </div>
        <button type="submit" style="background-color:black;" class="btn btn btn-primary">
          <b>Log In</b>
        </button>
      </form>
      {% for mess in messages %}
      <p>{{mess}}</p>
      {% endfor %}
      <h3>Not yet Vaccinated?</h3>
      <a href="{% url 'nearbyvc' %}" style="background-color:#696969;"class="btn btn-lg btn-info btn-block"><b>NearBy Vaccination Centre <i style="font-size:20px;" class="fas fa-hospital"></i></b></a>
    </div>
    
  </div>
</div>
</body>
</html>
