{% load static %}
    <!-- This page is to add or update Patient Registeration Details -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div class="container">
    <br>
        <!-- update variable shows whether this is an update or not -->
    <h2 style="text-align:center;">{% if update %}Update a Vaccinated Person{% else %} Add a Vaccinated Person{% endif %}</h2><br><br>
        <!-- Patient Registration Form -->
    <form action="" method="POST">
        {% csrf_token %}

    <table class="table table-dark table-hover">
        <tbody>
            <tr>
                <td><label for="name">Name - &nbsp</label>
                {{ form.name }}</td>
                <td><label for="phone_no">Phone Number - </label>
                {{ form.phone_no }}</td>
                
            </tr>
            <tr>
                <td><label for="gender">Gender - </label>
                {{ form.gender }}</td>
                <td><label for="city">City - &nbsp</label>
                {{ form.city }}</td>
              
            </tr>
            <tr>
                <td><label for="dob">Date of Birth - </label>
                {{ form.dob }}</td>
                <td><label for="state">State - </label>
                    {{ form.state }}</td>
                           
            </tr>
            <tr>
                <td><label for="address">Address - </label><div style="width:50%;margin-left: 15%;">
                    {{ form.address }}</div></td>
            </tr>
            <div style="display: none;">
                <label for="centre"><b>Vaccination Centre -</b> </label>
                    <!-- The Patient's Vaccination Centre is decided based on which centre he/she vaccinated  -->
                {{ form.centre }}<br><br>
                <label for="user"><b>User -</b> </label>
                    <!-- the model TestCentre links itself to User model. We choose to not show this to user to avoid exploitation/fraud -->
                {{ form.user }}<br><br>
            </div>
        </tbody>
    </table>
    {{forms.errors}}
    <br>
    <input style=" background-color: #242526;
      border: none;
      color: white;
      padding: 16px 32px;
      text-decoration: none;
      margin-left: 45%;
      cursor: pointer;border-radius:3px;
    " type='submit' name='Submit'>
    </form>
</div>