{% extends 'main.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel='stylesheet' href="{% static '/css/statistics.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="{% static '/js/statistics.js' %}"></script>
<div class="container" style="font-family: sans-serif;"><br>
    <h1 class="text-center">Statistics</h1>
    <div class="btn-group" style="margin-top: 3%;float:left;">
        <div class="dropdown">
            <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown">
                Dropdown button
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="">Day</a>
                <a class="dropdown-item" href="">Month</a>
                <a class="dropdown-item" href="">Year</a>
                <a class="dropdown-item" href="">Over all</a>
            </div>
        </div>
    </div>
    <div class="btn-group" style="margin-top: 3%;margin-left: 28%;">
        <div class="dropdown">
            <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown">
                Dropdown button
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="">City</a>
                <a class="dropdown-item" href="">State</a>
                <a class="dropdown-item" href="">Overall</a>
            </div>
        </div>
    </div>
</div><br><br>
    <form method='GET'>
        {{filter.form.as_p}}
        <input type='submit' name='Search'>
    </form>
    <h4>{{people}}</h4>

<div class="container" style="font-family: sans-serif;margin-top: 6%;margin-left: 30%;">
    <div class="chart">
        <ul class="numbers">
            <li><span>100%</span></li>
            <li><span>50%</span></li>
            <li><span>0%</span></li>
        </ul>
        <ul class="bars">
            {% for cen in centre %}
            <li>
                <div class="bar" data-percentage="50"></div><span>{{centre.id}}</span>
            </li>
            {% endfor %}
        </ul>
    </div>

</div>


{% endblock %}