{% extends 'main.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static '/css/vc_report.css'%}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-vaccinations">
			  	<div class="card-header">
			  		<h5 class="card-title">Total number of Vaccinated People</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{vaccinations}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="successful-vaccinations">
			  	<div class="card-header">
			  		<h5 class="card-title">Fine Cases</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{success}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="unsuccessful-vaccinations">
			  	<div class="card-header">
			  		<h5 class="card-title"><a class="text-white" href="{% url 'call_ambulance' person.id %}">Serious Cases</a></h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{failure}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-5">
		<h5>PATIENTS:</h5>
		<hr>
		<div class="card card-body">
					<form action="" method="GET">
						<div class="search-container" style="text-align: center;margin-right: 35px;margin-bottom: 10px;">
						<label for="name"><strong>Patient Name:&nbsp</strong></label>
						{{filter.form.name}}
							
							<button class="btn btn-dark  btn-sm pd" type="search" style="margin-bottom: 5px;"><b>Search&nbsp<i class="fa fa-search"></i></b></button>
						</div>
						
					</form>
				
				
				<!--<input type="submit" name='Search'><a class="btn btn-dark  btn-sm btn-block" href="">Search for Patient Details</a>-->
			
			<table class="table table-sm">
				<tr>
					<th></th>
					<th>Patient name</th>	
				</tr>
				{{people.Vaccinatedperson}}
				{% for pat in people %}
					<tr>
						<td><a href="{% url 'show_patient' pat.id %}">View</a></td>	
						<td>{{pat.name}}</td>	
					</tr>
				{% endfor %}

			</table>
		</div>
	</div>

	<div class="col-md-7">
		<h5>LAST 5 Vaccinated people</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-dark  btn-sm btn-block" href="{% url 'create_person' person.id %}">Add a Person</a>
			<table class="table table-sm">
				<tr>
					<th>Name</th>
					<th>Gender</th>
					<th>Date of birth</th>
					<th>Phone Number</th>
					<th>Vaccinated date</th>
				</tr>

				{% for patient in patients %}
					<tr>
						<td>{{patient.name}}</td>
						<td>{{patient.gender}}</td>
						<td>{{patient.dob}}</td>
                        <td>{{patient.phone_no}}</td>
                        <td>{{patient.date_created}}</td>
					</tr>
				{% endfor %}

			</table>
		</div>
	</div>

</div>

{% endblock %}