body {
    background-color: #eff0f1;
}

#total-vaccinations {
    height: 200px;
    margin-top: 50px;
    background-color: #c7a04c;
}

#successful-vaccinations {
    height: 200px;
    margin-top: 50px;
    background-color: #4faace;
}

#unsuccessful-vaccinations {
    margin-top: 50px;
    height: 200px;
    background-color: #d17c7c;
}